aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.11.1
attrs==25.4.0
bitarray==3.8.0
CacheControl==0.14.4
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
cytoolz==1.1.0
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
eth-account==0.11.0
eth-hash==0.7.1
eth-keyfile==0.9.1
eth-keys==0.7.0
eth-rlp==1.0.1
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==6.0.0b1
firebase-admin==6.2.0
frozenlist==1.8.0
google-api-core==2.30.0
google-api-python-client==2.192.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-cloud-core==2.5.0
google-cloud-firestore==2.23.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.78.0
grpcio-status==1.78.0
hexbytes==0.3.1
httplib2==0.31.2
idna==3.11
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lru-dict==1.2.0
msgpack==1.1.2
multidict==6.7.1
parsimonious==0.10.0
propcache==0.4.1
proto-plus==1.27.1
protobuf==6.33.5
py-ecc==8.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.11.0
pyparsing==3.3.2
pyunormalize==17.0.0
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
rlp==4.1.0
rpds-py==0.30.0
rsa==4.9.1
setuptools==70.3.0
sqlparse==0.5.5
toolz==1.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
web3==6.11.3
websockets==16.0
yarl==1.23.0
